---
import BlogCard from "@/components/Blog/BlogCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

// Sort posts by publication date (newest first)
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

<Layout title="Blog | Deren Tanaphan">
  <section
    class="flex flex-col items-center justify-center space-y-5 lg:space-y-8 pt-28 pb-20 lg:pt-36 lg:pb-24"
  >
    <div
      class="flex flex-col items-center justify-center space-y-2 lg:space-y-3"
    >
      <h1
        class="text-3xl lg:text-4xl xl:text-5xl font-bold text-center dark:text-neutral-100 text-neutral-900"
      >
        Blog
      </h1>
      <p
        class="text-base lg:text-lg font-medium text-center dark:text-neutral-400 text-neutral-600"
      >
        My thoughts, experiences, and insights on various topics.
      </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
      {
        sortedPosts.map((post) => (
          <BlogCard
            title={post.data.title}
            thumbnailUrl={post.data?.thumbnailUrl || ""}
            content={post.body}
            date={post.data.pubDate.toISOString()}
            slug={post.slug}
            tags={post.data.tags || []}
          />
        ))
      }
    </div>
  </section>
</Layout>
